* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px;

}

.col-lg-6  {
    width: 40%;
}

h1 {
    color: #FF4081;
    font-size: 2.5rem;
    padding-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
}

label {
    font-size: 1rem;
}

.form-contact, button {
    margin-top: 10px;
}
button {
    border-radius: 10px;
    width: 20%;
    padding: 5px;
    background-color: #FF4081;
    color: white;
    border-color: #FF4081;
}

@media screen and (max-width: 600px) {


    button {
        width: 50%;
    }

    .row {
        padding: 120px 3px;
}

}

@media screen and (max-width: 1492px) {

    button {
        width: 50%;
    }

    .row {
        padding: 258px 5px;
}


}